.containerLine3{
    display: flex;
    padding-right: 40px;
}
.containerLeft1{
    display: flex;
    flex-direction: row;
}
.containerLeft1 ul{
    display: flex;
    padding-left: 100px ;
    gap: 7px;
    color: #00000099;
}
.containerLeft1 li{
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
}
.line2 {
    width: 1240px;
    top: 134px;
    left: 90px;
    border: 1px 0px 0px 0px;
    border-top: 1px solid rgb(218, 218, 218);
}
.yourCart{
    display: flex;
    width: auto ;
    justify-content: left;
    padding-left: 100px;
    padding-top: 20px;
}
.yourCart h1{
    display: inline;
    font-family: Integral CF;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.containerLeft{
    display: flex;
    flex-direction: column;
    width: 715px;
    height: 508px;
    top: 276px;
    left: 100px;
    padding: 20px 24px 20px 24px;
    gap: 24px;
    border-radius: 20px;
    border: 1px;
    border: 1px solid #0000001A;    
}
.containerRight{
    display: flex;
    flex-direction: column;
    width: 505px;
    height: 458px;
    top: 276px;
    left: 835px;
    gap: 24px;
    border-radius: 20px;
    border: 1px ;
    border: 1px solid #0000001A
}
.containerRight h1{
    font-family: Satoshi;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.4px;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;        
}
.containerProduct{
    display: flex;
}
.description{
    padding-left: 10px;
    display: flex;
    width: 527px;
    height: 124px;
    justify-content: space-between;
}
.content{
    display: flex;
    flex-direction: column;
    width: 227px;
    height: 118px;
}
.content h1{
    font-family: Satoshi;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;    
}
.content ul{
    display: flex;
    width: 78px;
    height: 42px; 
}
.content li{
    font-family: Satoshi;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.9px;
    text-align: left;
    width: 67px;
    height: 19px;
    color: #00000099;    
}
.content p{
    display: flex;
    padding-top: 30px;
    font-family: Satoshi;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.4px;
    text-align: left;
    color: #000000;    
}
.containerIncre{
    display: flex;
    position: relative;
}
.btnIncre{
    position: absolute;
    bottom: 8px;
    right: 16px;
    width: 126px;
    height: 44px;
    gap: 20px;
    border-radius: 62px;
    background-color: #F0F0F0;
}
.trash{
    position: absolute;
    width: 18px;
    height: 19.5px;
    top: 1.5px;
    left: 3px;    
}
.containerQuanity{
    display: flex;
    flex-direction: row;
}
.containerQuanity ul{
    display: flex;
    width: 160px;
    height: 50px;
    top: 694px;
    left: 750px;
    gap: 20px;
    border-radius: 62px;
    background-color: #F0F0F0;
    padding-top: 14px;
    justify-content: center;
    text-align: center;
}
.containerQuanity a{
    width: 18.75px;
    height: 2.25px;
    top: 10px;
    left: 2.63px;
    cursor: pointer;
}
.containerQuanity li{
    font-family: Satoshi;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: left;
}
.containerQuanity p{
    width: 18.75px;
    height: 2.25px;
    top: 10.88px;
    left: 2.63px;
    padding-top: 2px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
.image{
    width: 124px;
    height: 124px;
    border-radius: 8.66px;    
}
.containerPrice{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.containerTotalPrice{
    display: flex;
    width: 457px;
    height: 27px;
    justify-content: space-between;
    padding-left: 20px;
}
.containerTotalPrice p{
    font-family: Satoshi;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #00000099;    
}
.containerTotalPrice a{
    font-family: Satoshi;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: right;    
}
.discount{
    color: red;
}
.containerLine{
    display: flex;
}
.line{
    width: 457px;
    border: 1px ;
    border: 1px solid #0000001A;
}
.containerAddCode{
    display: flex;
    width: 457px;
    height: 48px;
    padding-left: 20px;
    gap: 20px;    
}
.btnAddCode{
    display: flex;
    width: 326px;
    height: 48px;
    border-radius: 62px ;
    background-color: #F0F0F0;
    padding-left: 13px;
    gap: 10px;
    padding-top: 13px;
}
.btnAddCode p{
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: #00000066;    
}
.btnApply{
    width: 119px;
    height: 48px;
    border-radius: 62px;
    background-color: #000000;
    padding-left: 36px;
    padding-top: 13px;
    cursor: pointer;
}
.btnApply p{
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: left;
    color: #FFFFFF;    
}
.btnCheckOut{
    display: flex;
    width: 450px;
    height: 60px;
    border-radius: 62px;
    background-color: #000000;
    margin-left: 20px;
    cursor: pointer;
    justify-content: center;
    padding-top: 20px;
    gap: 10px;
}
.btnCheckOut p{
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: left;
    color: #FFFFFF;    
}
.btnCheckOut a{
    width: 15.76px;
    height: 18.75px;
    top: 19.88px;
    left: 2.63px;    
    padding-top: 3px;
}